.product-detail {
    padding: 50px 0;
    &__thumb {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
    &--left {
        background-color: #fff;
        padding: 20px 0;
        padding-bottom: 0;
    }
    &--right {
        padding: 20px;
    }
    &__price {
        margin-top: 20px;
        font-size: 22px;
        color: red;
    }
    .fas.fa-star {
        color: #fadb14;
        margin-right: 5px;
        font-size: 18px;
    }
    .fas.fa-star.in-active {
        color: gray
    }
    &__description {
        h5 {
            border-top: 1px solid #eee;
            padding-top: 12px;
        }
    }
    &__ram {
        margin-top: 20px;
        h6 {
            margin-bottom: 0;
        }
        label {
            margin-right: 15px;
        }
    }
    .card-header {
        h6 {
            margin-bottom: 0;
        }
    }
    .card-body {
        p {
            margin-bottom: 5px;
        }
    }
    &__sub-image{
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            margin: 10px 0;
            padding: 10px;
            background-color: #fff;
            border-radius: 6px;
            opacity: 0.5;
            transition: 0.5s;
            &:hover {
                opacity: 1;
            }
        }
        .active {
            opacity: 1;
        }
    }
    &__action {
        justify-content: space-between;
        button {
            width: 48%;
            margin-top: 20px;
            padding: 15px;
            border: 0;
            color: white;
            border-radius: 4px;
            font-size: 17px;
        }
        .btn-buy {
            background-color: orange;
        }
        .btn-add-to-cart {
            background-color: red;
        }
    }
    .comment {
        padding: 20px;
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        &__detail {
            margin-left: 20px;
            border-radius: 12px;
            background-color: #f6f6f6;
            padding: 5px 20px;
        }
        &-form {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            textArea {
                border: 1px solid #eee;
                padding: 10px;
                outline: none;
                width: 100%;
                margin-top: 10px;
            }
            button {
                width: 200px;
                margin-top: 15px;
                background-color: #AF3033;
                color: white;
                border: 0;
                height: 45px;
                border-radius: 4px;
            }
        }
    }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 0;
    color: white;
    border: 1px solid #AF3033;
    border-bottom: 0;
    color: #AF3033;
}
.nav-link {
    color: #AF3033;
    &:hover {
        border-color: #AF3033 !important;
    }
}
.nav-tabs {
    border-bottom: 1px solid #AF3033;
}
.product-item {
    margin-top: 20px;
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.08);
    border: 1px solid #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        width: 100%;
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }
    &__title {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    &__price {
        color: red;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
    }
}
.app-table {
    padding: 10px;
    .col-4, .col-8{
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 10px;
    }
    .col-4 {
        border-left: 1px solid #eee;
    }
}