    <div *ngIf="!isAdmin" class="shadow w-100">
        <div class="bg-dark" style="padding: 4px 15px;">
            <p style="font-size: 12px;" class="text-white"><i class="fal fa-map-marker-alt me-2"></i>Địa chỉ: 828 Sư Vạn Hạnh, Phường 12, Quận 10, Thành phố Hồ Chí Minh</p>
        </div>
        <div class="app-navbar bg-primary">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img src="../../../assets/images/logo-horizontal-solid.png" alt="" class="app-logo">
                </div>
                <div class="col-md-5">
                    <div class="d-flex search-container">
                        <input type="text" class="app-input--search" placeholder="Nhập từ khoá tìm kiếm">
                        <button><i class="fal fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-around">
                        <div class="contact d-flex flex-column">
                            <p class="text-white">Hotline hỗ trợ</p>
                            <h6 class="text-white"> <i class="fas fa-phone me-1"></i> 090.995.6627</h6>
                        </div>
                            <ng-container *ngIf="user.userId == null">
                                <div class="navbar-auth-link">
                                    <div class="d-flex">
                                        <a routerLink="/login">Đăng nhập /</a>
                                        <a style="padding-left: 5px;" routerLink="/register">Đăng ký</a>
                                    </div>
                                    <div style="cursor: pointer;" ><h6 class="text-white"><i class="fas fa-user me-1" ></i> Thành viên</h6></div>
                                </div>  
                            </ng-container>
                            <ng-container  *ngIf="user.userId != null">
                                <div class="dropdown" style="cursor: pointer; margin-top: 15px;"><h6 class="text-white"><i class="fas fa-user me-1"></i> Hi {{userName}}</h6>
                                    <div class="dropdown-content">
                                        <div class="contents"  routerLink="/user">Thông tin cá nhân</div>
                                        <div class="contents" >Lịch sử mua hàng</div>
                                        <div class="contents" style="cursor: pointer;" (click)="logOut()">Đăng xuất</div>
                                    </div>
                                </div>
                            </ng-container>
                        <div class="navbar-cart-link d-flex align-items-center">
                            <a routerLink="/cart"><i class="fal fa-bags-shopping"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex navbar-link-container">
            <a routerLink="">Trang chủ</a>
            <a routerLink="/products">Sản phẩm</a>
            <a href="">Giới thiệu</a>
            <a href="">Liên hệ</a>
            <a href="">Dịch vụ</a>
        </div>
    </div>
