.template {
    margin-top: 40px;
    background-color: rgb(251, 251, 251);
    border-radius: 8px rgb(249, 248, 248);
    border: solid 0.5px rgb(237, 235, 235);
    box-shadow: 0 3px 3px 0;
}
.card {
    margin: 0 auto;
    margin-bottom: 50px;
    height: 500px;
}

.dashboard {
    height: 100%;
    width: 100%;
}