.template {
    margin-top: 40px;
    background-color: rgb(249, 248, 248);
    border-radius: 8px rgb(249, 248, 248);
    border: solid 0.5px rgb(146, 145, 145);
}
.card {
    margin: 0 auto;
    margin-bottom: 50px;
    height: 500px;
}

.dashboard {
    padding: 10px 0;
    height: 100%;
    width: 100%;
}