.template {
    margin-top: 40px;
    background-color: rgb(249, 248, 248);
}
.card {
    margin: 0 auto;
    margin-bottom: 50px;
    height: 500px;
}

.dashboard {
    height: 100%;
    width: 100%;
}