.main-grid {
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.bg {
    &-5 {
        background-color: #631118;
    }
    &-6 {
        background-color: #8a1e24;
    }
    &-7 {
        background-color: #af3033;
    }
}
.flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes jump {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}
button:active {
    animation: jump 0.5s;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    animation: none;
}
button:focus,button:active:focus,button.active:focus,
button.focus,button:active.focus,button.active.focus {
    outline: none !important;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;

}
.p-rating .p-rating-icon.pi-star-fill {
    color: #fadb14
}
.p-rating .p-rating-icon {
    color: silver;
}
.container-fluid {
    overflow-x: hidden;
}