<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="filter bg-white">
                <h3>Bộ lọc</h3>
                <div class="filter-group">
                    <nz-collapse nzGhost>
                        <nz-collapse-panel
                          [nzHeader]="'Loại sản phẩm'"
                          [nzActive]="true"
                          nzExpandIconPosition="'right'"
                        >
                            <p *ngFor="let item of categories"> {{item.name}} </p>
                        </nz-collapse-panel>
                      </nz-collapse>
                </div>
                <div class="filter-group">
                    <nz-collapse nzGhost>
                        <nz-collapse-panel
                          [nzHeader]="'Thương hiệu'"
                          [nzActive]="false"
                          nzExpandIconPosition="'right'"
                        >
                        <p *ngFor="let item of brands"> {{item.name}} </p>
                    </nz-collapse-panel>
                      </nz-collapse>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <p-dataView #dv [value]="productList" [paginator]="true" [rows]="9" filterBy="name"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="d-flex justify-content-between">
                            <p-dropdown [options]="sortOptions" placeholder="Giá từ" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value!)">
                            </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-12">
                            <div class="product-list-item">
                                <img src="{{url+'upload/'+product.images[0]}}" [alt]="product.name" />
                                <div class="product-list-detail">
                                    <div class="product-name">{{product.name}}</div>
                                    <div class="product-description">{{product.brand.name}}</div>
                                </div>
                                <div class="product-list-action">
                                    <span class="product-price">${{product.price | currency: 'VND'}}</span>
                                    <p-button icon="pi pi-shopping-cart" label="Add to Cart"
                                        [disabled]="product.totalQuantity === 0"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="gridItem">
                        <div class="col-md-6 col-lg-4">
                            <div [routerLink]="['/product', product.name]" routerLinkActive="router-link-active"  class="product-grid-item card">
                                <div class="product-grid-item-top">
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{product.category.name}}</span>
                                    </div>
                                    <nz-tag [nzColor]="'#87d068'" *ngIf="product.totalQuantity >= 10">Còn hàng</nz-tag>
                                    <nz-tag [nzColor]="'#f50'" *ngIf="product.totalQuantity === 0">Hết hàng</nz-tag>
                                    <nz-tag [nzColor]="'#1890ff'"*ngIf="product.totalQuantity < 10 && product.totalQuantity > 0">Còn ít</nz-tag>
                                </div>
                                <div class="product-grid-item-content">
                                    <img src="{{url+'upload/'+product.images[0]}}" [alt]="product.name" />
                                    <div class="product-name">{{product.name}}</div>
                                    <!-- <div class="product-description">
                                        <nz-tag>{{product.brand.name}}</nz-tag>
                                    </div> -->
                                </div>
                                <div class="product-grid-item-bottom">
                                    <span class="product-price">{{product.price | currency: 'VND'}}</span>
                                    <button class="btn-add">
                                        <i class="fal fa-shopping-bag"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
    </div>
</div>