<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="shadow-sm px-4 py-4">
                <h4>Đăng ký tài khoản</h4>
                <p class="form__sub-title" style="color: silver;">Đăng ký ngay để tận hưởng những ưu đãi từ cửa hàng</p>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input placeholder="Nhập địa chỉ email của bạn" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                <input placeholder="Nhập mật khẩu của bạn" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Xác nhận mật khẩu</label>
                                <input placeholder="Nhập mật khẩu của bạn" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                                <input placeholder="Nhập địa chỉ email của bạn" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
                                <input placeholder="Nhập mật khẩu của bạn" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                        </div>
                    </div>
                    <a class="mt-3 text-danger d-block mb-3" routerLink="/login">Đăng nhập ngay</a>
                    <button type="submit" class="btn-register">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>