<div class="container mt-3">
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/s/e/sea-game-didongviet-768x371.png"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/7/6/768x371_airpods.png"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.didongviet.vn/pub/media/mageplaza/bannerslider/banner/image/7/6/768x371_iphone-13.png"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 row flex-column promotion-container justify-content-between">
            <h5 class="title col-12">
                <img src="https://didongviet.vn/pub/static/frontend/ddv/default/vi_VN/images/hot-icon.png" alt="">
                Khuyến mãi
            </h5>
            <div class="col-xl-12 col-4">
                <div class="promotion">
                    <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/Asus_Zenbook.png" alt="">
                </div>
            </div>
            <div class="col-xl-12 col-4">
                <div class="promotion">
                    <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/RB_iPad-Air.png" alt="">
                </div>
            </div>
            <div class="col-xl-12 col-4">
                <div class="promotion">
                    <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/A73_2.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <a href="" class="btn btn-outline-danger mt-1 w-100">Xem thêm</a>
            </div>
        </div>
        <div class="col-12 mt-5">
            <h5 class="list-title">Danh mục sản phẩm</h5>
            <app-category-list></app-category-list>
        </div>
        <div class="col-12 mt-5">
            <div class="d-flex justify-content-between">
                <h5 class="list-title">Sản phẩm mới</h5>
                <h6 routerLink="/product" class="btn-view-more">Xem thêm</h6>
            </div>
        </div>
        <app-product-list></app-product-list>
        <div class="col-12">
            <div class="row justify-content-center mt-5">
                <div class="col-4">
                    <div class="service bg-5">
                        <i class="fal fa-truck"></i>
                        <div>
                            <h6>Miễn phí giao hàng</h6>
                            <p>Giao hàng tận nơi miễn phí trên toàn quốc với mọi đơn hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="service bg-6">
                        <i class="fal fa-hand-holding-usd"></i>
                        <div>
                            <h6>Đổi trả miễn phí</h6>
                            <p>Đổi trả hàng 0 đồng đối với máy cũ trong vòng 30 ngày</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="service bg-7">
                        <i class="fal fa-truck"></i>
                        <div>
                            <h6>Miễn phí giao hàng</h6>
                            <p>Giao hàng tận nơi miễn phí trên toàn quốc với mọi đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>