<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button
        routerLink="/admin/category/add"
        pButton
        pRipple
        type="button"
        label="Thêm sản phẩm"
        class="p-button-raised p-button-danger mt-1"
      ></button>
    </div>
    <div class="col-12 mt-3">
      <p-table [value]="categories" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="padding-right: 60px">#</th>
            <th class="category-title">Hình ảnh</th>
            <th class="category-title">Loại Sản phẩm</th>
            <th class="category-title">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>{{ category._id }}</td>
            <td>
              <img
                [src]="category.icon"
                [alt]="category.name"
                width="100"
                class="shadow-4 category-image"
              />
            </td>
            <td>{{ category.name }}</td>
            <td>
              <div class="category-action">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-sm p-button-success"
                  routerLink="/admin/category/edit"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-sm p-button-danger"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
