.form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &-container {
    max-width: 700px;
    margin: 0 auto;
  }
  label {
    margin-top: 10px;
  }
  input {
    background-color: #f6f6f6;
    border: 0;
    height: 20px;
    &.input-file {
      padding: 5px 10px;
      height: auto;
      display: none;
    }
  }
}
.btn-upload {
  padding: 10px 20px;
  background-color: white;
  border: 1px dashed #434343;
  color: #434343;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.btn-submit {
  padding: 10px 20px;
  background-color: red;
  width: 100%;
  border: 0;
  color: white;
  margin-top: 20px;
}
.image-upload {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
  margin-top: 15px;
}
.p-multiselect {
  margin-bottom: 20px;
  width: 100% !important;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: #f6f6f6;
  border-radius: 0;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 5px !important;
}
.p-multiselect .p-multiselect-label {
  font-family: roboto;
}

.brand-logo {
  width: 30%;
  margin-right: 20px;
}
