<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="px-2 py-5 bg-white form-container">
                <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Thêm sản phẩm mới</h2>
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Tên sản phẩm</mat-label>
                                    <input formControlName="name" placeholder="Nhập tên sản phẩm" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field id="category" appearance="fill" class="w-100">
                                    <mat-label>Loại sản phẩm</mat-label>
                                    <mat-select formControlName="category">
                                      <mat-option *ngFor="let brand of brands" value="brand.id"> {{brand.name}} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Giá bán</mat-label>
                                    <input formControlName="price" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field id="brands" appearance="fill" class="w-100">
                                    <mat-label>Thương hiệu</mat-label>
                                    <mat-select formControlName="brands">
                                      <mat-option value="one">First option</mat-option>
                                      <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <p-multiSelect formControlName="colors" [options]="brands" defaultLabel="Màu sắc" optionLabel="name" display="chip"></p-multiSelect>
                            </div>
                            <div class="col-md-6">
                                <p-multiSelect formControlName="rom" [options]="brands" defaultLabel="Dung lượng" optionLabel="name" display="chip"></p-multiSelect>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field style="width: 100%;" appearance="fill">
                                    <mat-label>Giới thiệu</mat-label>
                                    <textarea formControlName="description" rows="4" required style="width: 100%;" matInput></textarea>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <label for="file">
                                    <p class="btn-upload"><i class="fal fa-cloud-upload me-2"></i>Thêm ảnh</p>
                                </label>
                                <input (change)="onFileSelected($event)" id="file" type="file" class="input-file">
                            </div>
                            <div class="col-12">
                                <div class="d-flex w-100 flex-wrap justify-content-center">
                                    <div class="box" *ngFor="let image of imageList">
                                        <img class="image-upload" src={{image}} alt="">
                                        <div class="mask flex-mid">
                                            <p>Xóa</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn-submit">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
