<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="px-2 py-5 bg-white form-container">
                <form class="form" action="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Tên sản phẩm</mat-label>
                                    <input placeholder="Nhập tên sản phẩm" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Giá bán</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field id="brands" appearance="fill" class="w-100">
                                    <mat-label>Thương hiệu</mat-label>
                                    <mat-select>
                                      <mat-option value="one">First option</mat-option>
                                      <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field id="brands" appearance="fill" class="w-100">
                                    <mat-label>Loại sản phẩm</mat-label>
                                    <mat-select>
                                      <mat-option value="one">First option</mat-option>
                                      <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
