<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="shadow-sm px-4 py-4">
                <form [formGroup]="form" style="height:406px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <h2 style="font-weight: bold;">{{user.email}}</h2>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Họ và tên</label>
                                <input formControlName="fullName" value={{user.fullName}} type="text" class="form-control" id="exampleInputFirstName" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
                                <input formControlName="phone" value={{user.phone}} type="text" class="form-control" id="exampleInputPhone">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <p routeLink="/login" class="mt-3 text-danger d-block mb-3">Nhập mật khẩu để cập nhật thông tin</p>
                            <button class="btn-edit" (click)="submit()">Chỉnh sửa</button>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>